externalrequesthandler/WebContent/WEB-INF/wsdl/ExternalRequestHandlerService.wsdl

<!--
 Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. 
-->
<!--
 Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. 
-->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.externalrequesthandler.mscripts.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.externalrequesthandler.mscripts.com/" name="ExternalRequestHandlerService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.externalrequesthandler.mscripts.com/" schemaLocation="externalrequesthandlerschema1.xsd"/>
</xsd:schema>
</types>
<message name="initialLinkTokenMessage">
<part name="parameters" element="tns:initialLinkTokenMessage"/>
</message>
<message name="initialLinkTokenMessageResponse">
<part name="parameters" element="tns:initialLinkTokenMessageResponse"/>
</message>
<message name="feedCoupons">
<part name="parameters" element="tns:feedCoupons"/>
</message>
<message name="feedCouponsResponse">
<part name="parameters" element="tns:feedCouponsResponse"/>
</message>
<message name="updateNotification">
<part name="parameters" element="tns:updateNotification"/>
</message>
<message name="updateNotificationResponse">
<part name="parameters" element="tns:updateNotificationResponse"/>
</message>
<message name="feedTenForTen">
<part name="parameters" element="tns:feedTenForTen"/>
</message>
<message name="feedTenForTenResponse">
<part name="parameters" element="tns:feedTenForTenResponse"/>
</message>
<portType name="ExternalRequestHandler">
<operation name="initialLinkTokenMessage">
<input wsam:Action="http://service.externalrequesthandler.mscripts.com/ExternalRequestHandler/initialLinkTokenMessageRequest" message="tns:initialLinkTokenMessage"/>
<output wsam:Action="http://service.externalrequesthandler.mscripts.com/ExternalRequestHandler/initialLinkTokenMessageResponse" message="tns:initialLinkTokenMessageResponse"/>
</operation>
<operation name="feedCoupons">
<input wsam:Action="http://service.externalrequesthandler.mscripts.com/ExternalRequestHandler/feedCouponsRequest" message="tns:feedCoupons"/>
<output wsam:Action="http://service.externalrequesthandler.mscripts.com/ExternalRequestHandler/feedCouponsResponse" message="tns:feedCouponsResponse"/>
</operation>
<operation name="updateNotification">
<input wsam:Action="http://service.externalrequesthandler.mscripts.com/ExternalRequestHandler/updateNotificationRequest" message="tns:updateNotification"/>
<output wsam:Action="http://service.externalrequesthandler.mscripts.com/ExternalRequestHandler/updateNotificationResponse" message="tns:updateNotificationResponse"/>
</operation>
<operation name="feedTenForTen">
<input wsam:Action="http://service.externalrequesthandler.mscripts.com/ExternalRequestHandler/feedTenForTenRequest" message="tns:feedTenForTen"/>
<output wsam:Action="http://service.externalrequesthandler.mscripts.com/ExternalRequestHandler/feedTenForTenResponse" message="tns:feedTenForTenResponse"/>
</operation>
</portType>
<binding name="ExternalRequestHandlerPortBinding" type="tns:ExternalRequestHandler">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="initialLinkTokenMessage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="feedCoupons">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateNotification">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="feedTenForTen">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ExternalRequestHandlerService">
<port name="ExternalRequestHandlerPort" binding="tns:ExternalRequestHandlerPortBinding">
<soap:address location="http://localhost:8080/externalrequesthandler/ExternalRequestHandlerService"/>
</port>
</service>
</definitions>